In [163]:
import pandas as pd
import numpy as np
import difflib

df = pd.HDFStore('tdf_coverage_raw.h5')

# start out by ignoring the teams
names = df['03:26:00-04:26:00'][2].values
teams = df['03:26:00-04:26:00'][3].values
data = df['03:26:00-04:26:00'].values

# the idea is to read a reference name list with all started riders (and correct names hopefully)
df = pd.read_csv('riders_test.csv', quotechar='"', skipinitialspace=True)
refnames = df['shortname'].tolist()
refteams = df['shortteam'].unique().tolist()
# SIMPLE Approach 1: first idea is to ignor everything except A-Za-z and "." then we search for
# the dot seperating name and surname (which from the data was detected most of the time). Everything
# before the dot is the name, everything after is surname.

filteredNames = [''.join(e for e in name if (e.isalnum() or e=='.' or e==' ')) for name in names]

def match(name, ref):
    matches = difflib.get_close_matches(name.upper(), ref)
    #print(name, matches)
    return matches[0] if matches else []
    

matchedFiltered = [match(name, refnames) for name in filteredNames]
matchedUnFiltered = [match(name, refnames) for name in names]

In [195]:
def buildInfo(ocrdata):
    (tstart, tend, ocrname, ocrteam) = ocrdata
    # get matches
    namematch = match(ocrname, refnames)
    teammatch = match(ocrteam, refteams)
    
    # skip empty names
    if not namematch:
        return None
    
    # find datarow in df
    # 0: name, 1: startnum, 2: shortname, 3: nationality
    # 4: shortteam, 5: team, 6: teamnat
    datarow = np.squeeze(df[df['shortname'] == namematch].values)

    # combine to tuple if team is a match
    if datarow[4] == teammatch:
        return (tstart, 
                tend, 
                tend-tstart, 
                datarow[2],
                datarow[4],
                datarow[3],
                datarow[6])
    else:
        return None

info = [info for info in (buildInfo(ocr) for ocr in data) if info is not None]
dfinfo = pd.DataFrame(info, columns=('tstart', 'tend', 'duration', 'rider', 'team', 'ridernat', 'teamnat'))
dfinfo

,tstart,tend,duration,rider,team,ridernat,teamnat
0,0.0,50.0,50.0,A. VALVERDE,MOV,Spain,Spain
1,52.0,87.0,35.0,J. IZAGUIRRE INSAUSTI,TBM,Spain,Bahrain
2,144.0,158.0,14.0,P. ROGER LATOUR,ALM,France,France
3,161.0,169.0,8.0,A. VALVERDE,MOV,Spain,Spain
4,181.0,190.0,9.0,J. ALAPHILIPPE,QST,France,Belgium
5,199.0,232.0,33.0,T. VAN GARDEREN,BMC,United States,United States
6,242.0,260.0,18.0,J. IZAGUIRRE INSAUSTI,TBM,Spain,Bahrain
7,281.0,304.0,23.0,I. ZAKARIN,TKA,Russia,Russia
8,326.0,338.0,12.0,P. ROGER LATOUR,ALM,France,France
9,340.0,347.0,7.0,A. VALVERDE,MOV,Spain,Spain
10,431.0,457.0,26.0,P. ROGER LATOUR,ALM,France,France
11,459.0,471.0,12.0,A. VALVERDE,MOV,Spain,Spain
12,518.0,559.0,41.0,D. MARTIN,UAD,Ireland,United Arab Emirates
13,637.0,664.0,27.0,R. BARDET,ALM,France,France
14,667.0,672.0,5.0,P. ROGER LATOUR,ALM,France,France
15,676.0,704.0,28.0,D. MARTIN,UAD,Ireland,United Arab Emirates
16,763.0,781.0,18.0,M. LANDA MEANA,MOV,Spain,Spain
17,785.0,808.0,23.0,D. MARTIN,UAD,Ireland,United Arab Emirates
18,821.0,832.0,11.0,D. MARTIN,UAD,Ireland,United Arab Emirates
19,846.0,864.0,18.0,G. VAN AVERMAET,BMC,Belgium,United States
20,883.0,902.0,19.0,S. KRUIJSWIJK,TLJ,Netherlands,Netherlands
21,923.0,928.0,5.0,D. MARTIN,UAD,Ireland,United Arab Emirates
22,1004.0,1020.0,16.0,C. FROOME,SKY,Great Britain,United Kingdom
23,1042.0,1071.0,29.0,C. FROOME,SKY,Great Britain,United Kingdom
24,1074.0,1082.0,8.0,R. BARDET,ALM,France,France
25,1090.0,1091.0,1.0,R. BARDET,ALM,France,France
26,1124.0,1143.0,19.0,P. ROGLIC,TLJ,Slovenia,Netherlands
27,1147.0,1171.0,24.0,R. BARDET,ALM,France,France
28,1243.0,1259.0,16.0,T. DUMOULIN,SUN,Netherlands,Netherlands
29,1260.0,1306.0,46.0,T. DUMOULIN,SUN,Netherlands,Netherlands
...,...,...,...,...,...,...,...
70,2549.0,2554.0,5.0,I. ZAKARIN,TKA,Russia,Russia
71,2555.0,2585.0,30.0,I. ZAKARIN,TKA,Russia,Russia
72,2586.0,2589.0,3.0,I. ZAKARIN,TKA,Russia,Russia
73,2606.0,2634.0,28.0,G. THOMAS,SKY,Great Britain,United Kingdom
74,2636.0,2652.0,16.0,T. DUMOULIN,SUN,Netherlands,Netherlands
75,2703.0,2710.0,7.0,C. FROOME,SKY,Great Britain,United Kingdom
76,2730.0,2762.0,32.0,T. DUMOULIN,SUN,Netherlands,Netherlands
77,2763.0,2769.0,6.0,T. DUMOULIN,SUN,Netherlands,Netherlands
78,2776.0,2783.0,7.0,T. DUMOULIN,SUN,Netherlands,Netherlands
79,2818.0,2832.0,14.0,C. FROOME,SKY,Great Britain,United Kingdom
80,2833.0,2865.0,32.0,G. THOMAS,SKY,Great Britain,United Kingdom
81,2875.0,2894.0,19.0,N. QUINTANA,MOV,Colombia,Spain
82,2898.0,2927.0,29.0,D. MARTIN,UAD,Ireland,United Arab Emirates
83,2963.0,3003.0,40.0,R. BARDET,ALM,France,France
84,3085.0,3134.0,49.0,P. ROGLIC,TLJ,Slovenia,Netherlands
85,3137.0,3171.0,34.0,T. DUMOULIN,SUN,Netherlands,Netherlands
86,3173.0,3200.0,27.0,M. LANDA MEANA,MOV,Spain,Spain
87,3208.0,3216.0,8.0,S. KRUIJSWIJK,TLJ,Netherlands,Netherlands
88,3217.0,3231.0,14.0,S. KRUIJSWIJK,TLJ,Netherlands,Netherlands
89,3249.0,3252.0,3.0,C. FROOME,SKY,Great Britain,United Kingdom
90,3268.0,3276.0,8.0,T. DUMOULIN,SUN,Netherlands,Netherlands
91,3278.0,3306.0,28.0,G. THOMAS,SKY,Great Britain,United Kingdom
92,3315.0,3331.0,16.0,G. THOMAS,SKY,Great Britain,United Kingdom
93,3332.0,3337.0,5.0,G. THOMAS,SKY,Great Britain,United Kingdom
94,3338.0,3353.0,15.0,G. THOMAS,SKY,Great Britain,United Kingdom
95,3356.0,3387.0,31.0,P. ROGLIC,TLJ,Slovenia,Netherlands
96,3392.0,3439.0,47.0,P. ROGLIC,TLJ,Slovenia,Netherlands
97,3487.0,3489.0,2.0,T. DUMOULIN,SUN,Netherlands,Netherlands
98,3552.0,3563.0,11.0,G. THOMAS,SKY,Great Britain,United Kingdom
99,3564.0,3580.0,16.0,G. THOMAS,SKY,Great Britain,United Kingdom

In [201]:
dfinfo.groupby('teamnat')['duration'].sum().sort_values(ascending=False)

teamnat
United Kingdom          543.0
Netherlands             511.0
France                  295.0
Spain                   197.0
United Arab Emirates    137.0
Bahrain                  76.0
Russia                   62.0
United States            51.0
Belgium                   9.0
Name: duration, dtype: float64

In [204]:
ridernatsum = dfinfo.groupby('ridernat')['duration'].sum().sort_values(ascending=False)
teamnatsum = dfinfo.groupby('teamnat')['duration'].sum().sort_values(ascending=False)
teamsum = dfinfo.groupby('team')['duration'].sum().sort_values(ascending=False)
ridersum = dfinfo.groupby('rider')['duration'].sum().sort_values(ascending=False)

teamsum

team
SKY    543.0
ALM    295.0
TLJ    257.0
SUN    254.0
MOV    197.0
UAD    137.0
TBM     76.0
TKA     62.0
BMC     51.0
QST      9.0
Name: duration, dtype: float64